/* color */
:root {
    --color-lighblue1: #0063FF;
    --color-lighblue2: #4365DE;
    --color-darkblue: #001D83;
    --color-white: #FFFFFF;
    --color-black: #262626;
    --color-yellow: #E8C018;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* side bar dashbaord */

.dashboard .row .side-bar {
    height: 100vh;
} 


.dashboard .row .side-bar .container-fluid h1 {
    color: var(--color-lighblue1);
} 

.dashboard .row .side-bar .bar-items .row {
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(280deg,#4365DE, #001D83);
    border-radius: 4px;
}

.dashboard .row .side-bar .bar-items .row .btn-nav span,
.dashboard .row .side-bar .bar-items .row .btn-nav button{
    color: var(--color-white);
}

.dashboard .row .side-bar .bar-items .row .btn-nav button {
    border: 0;
    outline: 0;
}

.dashboard .row .side-bar .bar-items .row .dropdown-dashboard .dropdown-nav {
    background-color: transparent; 
    border: 0;
}

.dashboard .row .side-bar .bar-items .row .dropdown-dashboard .dropdown-nav ul li,
.dashboard .row .side-bar .bar-items .row .dropdown-dashboard .dropdown-nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    list-style: none;
    transition: 0.3s ease-in-out;
}


.dashboard .row .side-bar .bar-items .row .dropdown-dashboard .dropdown-nav ul li a{
    margin-left: 28px;
    outline: none;
    border: 0;
}

.dashboard .row .side-bar .bar-items .row .dropdown-dashboard .dropdown-nav ul li a:hover {
    border-bottom: 2px solid var(--color-white);
    padding: 0 4px !important;
    border-radius: 0px;
}

.active-nav {
    border-bottom: 2px solid var(--color-white) !important;
    padding: 0 4px !important;
    border-radius: 0px !important;
}

/* akhir dashboard */

.dashboard .row .content {
    height: 100vh;
    overflow: hidden;
}

.dashboard .row .content .row .navbar-content {
    height: 76px;
}

.dashboard .row .content .row .admin-content {
    height: 90vh;
    overflow: scroll;
}

.dashboard .row .content .row .navbar-content .row .search form input,
.dashboard .row .content .row .navbar-content .row .search form span
{
    outline: none;
    border: none;
    background-color: transparent;
}

.dashboard .row .content .row .navbar-content .row .search .input-group {
    border-radius: 10px;
}

.dashboard .row .content .row .navbar-content .row .darkmode button {
    background-color: var(--color-yellow);
    border-radius: 100px;
    width: max-content;
    height: max-content;
    padding: 4px 8px;
    color: var(--color-white);
    transition: 0.3s ease-in-out;
}

.dashboard .row .content .row .admin-content h1 {
    color: var(--color-lighblue1);
    border-bottom: 2px solid #D9D9D9;
    width: max-content;
}

.dashboard .row .content .row .admin-content .container-fluid .btn-add-data {
    background: linear-gradient(280deg,#4365DE, #001D83);
    color: var(--color-white);
    border: none;
}

.dashboard .row .content .row .admin-content .container-fluid .tabel-data table {
    overflow: hidden;
    border-radius: 10px;
    width: 96%;
}

.dashboard .row .content .row .admin-content .container-fluid .tabel-data table thead {
    background: linear-gradient(280deg,#4365DE, #001D83);
}

.dashboard .row .content .row .admin-content .container-fluid .tabel-data table thead tr th {
    background-color: transparent;
    color: var(--color-white);
    width: 150px;
    padding: 10px 0;
}


#alertDashboard {
    position: absolute;
    z-index: 99;
    width: 100%;
}

.pagination {
    margin-right: 46px;
    padding-bottom: 20px;
}